Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore

@HBV501Group8
Learn Git and GitHub without any code!
Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.


siggigauti
/
Video-leiga-support-session
2
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Video-leiga-support-session/src/main/resources/templates/signup.html
@siggigauti
siggigauti signup og login
Latest commit 637df41 on 29 Oct 2019
History
1 contributor
15 lines (15 sloc)  457 Bytes

<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
<h2>Signup for an account</h2>
<form action="#" th:action="@{/signup}" th:object="${user}"  method="post">
    <input type="text" name="username" id="username" th:field="*{userName}"/>
    <input type="text" name="password" id="password" th:value="*{userPassword}"/>
    <input type="submit" value="Sign up"/>
</form>
</body>
</html>
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
