<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/forecast.css" />
</head>
<body>
<!--
<div class="container">
<br/>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form class="card card-sm" method="get" th:action="@{/users}">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>
                <div class="col">
                    <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                </div>
                <div class="col-auto">
                    <button id="submit" class="btn btn-lg btn-success" type="button" onclick="myFunction()"> Search</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
-->
<h5 style="text-align: center;"><b>Skráður inn sem <span th:text="${userlogged}"></span></b><a th:href="@{/logout}">&nbsp;&nbsp;&nbsp; Útskra</a></h5>
<div id="searchResults">
    <div th:switch="${forecasts}">
        <h2 th:case="null">No forecasts yet!</h2>
        <div th:case="*">


            <table>
                <thead>
                <tbody>
                <tr>
                    <th>ID </th>
                    <th>Name</th>
                </tr>

                <tr th:each="forecast : ${forecasts}">



                    <td th:text="${forecast.forecastName}"></td>
                    <td><a th:href="@{/show}">Show</a></td>

                </tr>
                </tbody>
                </thead>
            </table>

        </div>
    </div>
</div>

</body>
</html>