<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./ForCastStyle.css">
</head>
<body>
    <div class="form1">
        <H1>Spálíkan</H1>
        <form action="#" th:action="@{/spalikan}" th:object="${ForeCast}">

            <div class = "row">
                <label>Hlutur 1</label>
                <select th:field="*{eh}">
                    <option th:each ="p : ${breyta1}" th:value ="${p}" th:text="${p}">
                </select>
            </div>


            <div class="row">
                <label>Hlutur 2</label>
                <select th:field="*{eh}">
                    <option th:each ="p : ${breyta1}" th:value ="${p}" th:text="${p}">
                </select>
            </div>

            <div class ="row">
                <label>Hlutur 3</label>
                <select th:field="*{eh}">
                    <option th:each ="p : ${breyta1}" th:value ="${p}" th:text="${p}">
                </select>

            </div>




        </form>
        <form action="/graph">
            <button type ="submit">Sækja</button>
        </form>
    </div>
</body>
</html>

