body {
    margin:auto;
}

.tafla {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tafla thead tr {
    background-color: #878787;
    color: #ffffff;
    text-align: left;
}

.tafla th,
.tafla td {
    padding: 12px 15px;
}

.tafla th,
.tafla td {
    padding: 12px 15px;
}

.tafla tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tafla tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tafla tbody tr:last-of-type {
    border-bottom: 2px solid #878787;
}

.tafla tbody tr.active-row {
    font-weight: bold;
    color: #878787;
}